<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/head"></th:block>
</head>
<body class="horizontal-layout horizontal-top-icon-menu 2-columns   menu-expanded" data-open="hover" data-menu="horizontal-menu" data-col="2-columns">
  <!-- fixed-top-->
    <th:block th:include="fragments/nav"></th:block>
  <!-- ////////////////////////////////////////////////////////////////////////////-->
  <!-- Horizontal navigation-->
    <th:block th:include="fragments/hnav"></th:block>
  <!-- Horizontal navigation-->

  <th:block th:include="fragments/customer/new"></th:block>
  
  <!-- Modal -->
  <th:block th:include="fragments/footer"></th:block>
  <th:block th:include="fragments/address/select"></th:block>
  
  <script th:src="@{/js/handsontable-validate.js}"></script>
   <script>
        // Dòng Khách hàng đang chọn địa chỉ
        var selectCustomerRow;
        var dataCustomers = [];
        var hotCustomer = null;
        var deletedIds = [];
       
        $(function() {
        	var containerCustomer = document.getElementById('tableCustomer');
        	
        	hotCustomer = new Handsontable(containerCustomer, {
                data: dataCustomers,
                colHeaders: ["ID", "Tên khách hàng", "Mã khách hàng", "Tên viết tắt", "Số điện thoại", "Địa chỉ"],
                colWidths: [50, 300, 150, 150, 130, 400],
                rowHeaders: true,
                minRows: 10,
                currentRowClassName: 'currentRow',
                currentColClassName: 'currentCol',
            	manualColumnResize: true,
                manualRowResize: true,
                contextMenu: true,
                columns: [
                	{ data: "id", readOnly: true },
                    { data: "name"},
                    { data: "cd"},
                    { data: "shortName" },
             	    { data: "phone"},
             	    { data: "addr", readOnly: true  }
                  ],
                  afterSelection: function (r, c, r2, c2, preventScrolling, selectionLayerLevel) {

                     // Display the dialog to search address
                     if (c == 5) {
                    	 selectCustomerRow = r;
//                          console.log("Selected selectCustomerRow=" + selectCustomerRow)
                         displayDlgSelectAddress();
                     }
                  },
                  beforeRemoveRow: function (index, amount) {
                      console.log("Removed row index =" + index + ";amount=" + amount);                
                      console.log("index=" + index);
                      
                      var lastIndex = index + amount;
                      var i;
                      for (i = index; i < lastIndex; i++) {
                          console.log("dataCustomers=" + JSON.stringify(dataCustomers));
                          var deletedCustomer = dataCustomers[i];
                          var deletedId = deletedCustomer.id;

                          console.log("Row = " + i + ";deletedId = " + deletedId);
                          if (deletedId) {
                              deletedIds.push(deletedId);
                          }
                      }

                      console.log("list deletedIds=" + deletedIds);
                  },
                  
                  beforeChange: function (changes, source) {
                      
                      // changes = [[row, prop, oldVal, newVal], ...]
                	  for (var i = 0; i < changes.length; i++) {
                          var row = changes[i][0];
                          var col = hotCustomer.propToCol(changes[i][1]);
                          var newVal = changes[i][3];
                          console.log("row: " + row + "; col: " + col + "; newVal: " + newVal);

                          if (col == 1) {
                        	  textValidator(hotCustomer, row, col, newVal, 50);                        
                              }
                          if (col == 2 || col == 3) {
                        	  textValidator(hotCustomer, row, col, newVal, 10);
                              }
                          if (col == 4) {
                        	  integerValidator(hotCustomer, row, col, newVal, 11);                               
                          }
                      }               
                  }
              });
            
            loadCustomers();
        });



        // Load lại danh sách 
        function loadCustomers() {
           var total = document.getElementById('total');
           var url = _ctx + 'customer/load-customer';
                
            $.ajax({
                url : url,
                type : 'GET',
                dataType : 'json',
                contentType : 'application/json',
                success : function(res) {
                	total.innerHTML = res.length;

                	if (res && res.length > 0) {
                        dataCustomers = res;
                    }
                    
                    hotCustomer.loadData(dataCustomers);                    
                },
                error : function (e) {
                    console.log("Error: " + e);
                }
            });
        }
    </script>
    
    <script>
        $('#frmHot').submit(function (e) {
            e.preventDefault();
    
            var frm = $('#frmHot');
            var selectPoolId = $('#poolId').val();
            var frmData = new FormData(this);
    
            // Get header name
            var colHeaderData =  hotCustomer.getColHeader();
            
            // Get data from Handsontable
            var tableData = hotCustomer.getData();

            var frmData = {};
            frmData["header"] = colHeaderData;
            frmData["data"] = tableData;
            frmData["deletedIds"] = deletedIds;

            var ok = true;
            var columns = [1,2,5];

			// Check if row have data but columns name, cd, address are empty
            if (areEmptyColumns(hotCustomer, columns)) {
                ok = false;
                $('#errorHandsontable').show();
            }
            
            // Check if handsontable have any invalid cell
            if (!isValidTable(hotCustomer)) {
                ok = false;
                $('#errorHandsontable').show();
            }

            // Check if table is empty.
            if (isEmptyTable(hotCustomer)) { 
                $('#errorEmpty').show();
                ok = false;
            }
            
            if (ok) {
            	$('#errorHandsontable').hide();
            	$('#errorHandsontable').hide();
                
                $.ajax({
                url : _ctx + "customer/save",
                type : "POST",
                contentType: "application/json",
                data: JSON.stringify(frmData),
                dataType: 'json',

                success : function (result) {
                    
                	// Display result information
                    $('#result').fadeToggle('slow'); $('#result').fadeOut(5000); 

                    // reload data
                	loadCustomers();
                },
                error : function() {
                    console.log("Error!");
                }
            });
          }
        });
    </script>
    <!--  Scripts for select address -->
    <script>
        function displayDlgSelectAddress() {
        	$("#dlgSearchAddress").modal('show');
        }    
    </script>
	<script>
    
        // Dispay dialog of addresses
        var selectAddressTable = null;
        
        $(document).ready(function () {
            
            // Khởi tạo Table kết quả
        	if (selectAddressTable == null) {
        		selectAddressTable = $("#selectAddressTable").DataTable({
                    ajax: {'url': _ctx + 'address/load-address', 'dataSrc': ''},
//                     autoFill: true,
//                     select: { style: 'single' },
                    "columns": [
                           {"render": function ( data, type, full, meta ) {
                               
                                // return '<input type="radio" name="addressRow" value="' + full.displayAddress + '">';
                               // Assign address id and displayAddress                  
                        	   return '<input type="radio" name="addressRow" value="' + full.id + '">';
                           }},  // here's a radio button, modify to use data to populate it
 
                    	   { "data": "id" },
                    	   { "data": "displayAddress" }
                    ]
                });
        	} else {
        		// selectAddressTable.fnDraw();
            }
        });

        $('#btnSelectAddress').click(function(e) {

        	var selectedAddrId = $('input[name=addressRow]:checked').val();

            // Get Full addres from Id
            $.ajax({
                url : _ctx + "address/load-address/" + selectedAddrId,

                success : function(result) {
                	console.log("Load addr by id =" + selectedAddrId + ";result.addr=" + result.displayAddress);
                    
                    // refresh address
                	refreshCustomer(selectedAddrId, result.displayAddress);
                },
                error : function() {
                    console.log("Error!");
                }
            });
        });

        /**
         * @param addrId
         * @param fullAddr
         * @global selectCustomerRow
         */
        function refreshCustomer(addrId, fullAddr) {
            
            // Set address into Address of the Customer
            if (selectCustomerRow >= 0 && (fullAddr)) {
//                 var rowData = dataCustomers[selectCustomerRow];
//                 console.log("fullAddr=" + fullAddr);

                if (addrId) {  
                	dataCustomers[selectCustomerRow].addr = fullAddr;
                    
                	// console.log("Current dataCustomers at row " +  selectCustomerRow + ": "+ JSON.stringify(dataCustomers[selectCustomerRow]));
                } else {
                    console.log("Customer has not inputted yet.");
                    dataCustomers.push(["", "", "", "", "" , fullAddr]);
                }

                var invalidCells = getInvalidCells(hotCustomer);
                console.log(invalidCells);
                
                console.log("dataCustomers=" + dataCustomers);
            	hotCustomer.loadData(dataCustomers);

                // render invalid cell.
                for (var i = 0; i < invalidCells.length; i++) {
                    var cell = invalidCells[i];
                    
                    if (cell.col != 5) {
                        hotCustomer.getCellMeta(cell.row, cell.col).valid = false;
                    }
                }
                
            	hotCustomer.render();
            	
            } else {
            	 console.log("selectedDisplayAddress has no value; selectCustomerRow= " + selectCustomerRow);
            }
        }
    </script>
</body>
</html>