<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="fragments/head"></th:block>
</head>
<body class="horizontal-layout horizontal-top-icon-menu 2-columns   menu-expanded" data-open="hover"
    data-menu="horizontal-menu" data-col="2-columns">
    <!-- fixed-top-->
    <th:block th:include="fragments/nav"></th:block>
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <!-- Horizontal navigation-->
    <th:block th:include="fragments/hnav"></th:block>
    <!-- Horizontal navigation-->

    <th:block th:include="fragments/customer/search"></th:block>

    <th:block th:include="fragments/footer"></th:block>
    <script type="text/javascript" src="/js/searchDatatable.js"></script>
    <script>
    // Lưu đối tượng table kết quả search
    var resultTable = null;
    var customerData;
    
    $(document).ready(function() {
        // Khởi tạo Table kết quả
        
     	if (resultTable == null) {
            $("#resultTable").DataTable({
                ajax: {'url': _ctx + 'customer/load-customer', 'dataSrc': ''},
                "columns": [
                	   { "data": "id" },
                	   { "data": "cd" },
                	   { "data": "name" },
                	   { "data": "shortName" }

//                        ,{ "data": "id", 
//                          "render": function(){
//                                         return '<input type="radio" name="customerId" value="' + data + '">';
//                                    }
//                        }
                       ]
            });
    	} else {
            resultTable.fnDraw();
        } 

//     	 // Uncheck radio button on start page.
//         $("input:radio").attr("checked", false);
//         var customerId = null;
        
//        // Delete customer function with radio button's value.
//        document.getElementById("deleteCustomerIcon").addEventListener("click", deleteCustomer);
//        function deleteCustomer(){
//            customerId = $("input[name='customerId']:checked").val();
//            if(customerId != null){
//            	 $.ajax({
//                     url : "/customer/delete?customerId=" + customerId,
//                     type : 'GET',
//                     dataType : 'json',
//                     contentType : 'application/json',
//                     success : function(result) {
//                    	 var table = $('#resultTable').DataTable();

//                         // Destroy datatable.
//                         table.destroy();

//                      	// Empty in case the columns change
//                         $('#resultTable').empty();

//                         // Init datatable.
//                         table = $('#resultTable').DataTable({
//                             "columns": [
//                          	   { "data": "id",
//                                  "render": result.id 
//                                },
//                          	   { "data": "cd",
//                                  "render": result.cd
//                                },
//                          	   { "data": "name",
//                             	 "render": result.name
//                                },
//                          	   { "data": "shortName",
//                             	 "render": result.shortName
//                                },
//                                { "data": "id", 
//                                   "render": function(){
//                                                  return '<input type="radio" name="customerId" value="' + result.id + '">';
//                                             }
//                               }
//                               ]
//                         });
//                     },
//                     error : function() {
//                         console.log("Error!");
//                         $("#errorModal").modal()
                        
//                     }
//                 });
//            } else {
//                $("#deleteErrorModal").modal();  
//              }
//        }
    });
       

</script>
</body>
</html>