
<section id="horizontal-form-layouts">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title" id="horz-layout-basic">Nhập thông tin đơn hàng</h4>
                </div>
                <div class="card-content collpase show">
                    <div class="card-body">
                        <form class="form form-horizontal" action="#" method="post">
                            <div class="form-body">
                                <h4 class="form-section">
                                    <i class="ft-user"></i> Thông tin người nhận
                                </h4>
                                <div class="form-group row">
                                    <label class="col-md-3 label-control" for="projectinput1">Mã đơn hàng</label>
                                    <div class="col-md-6">
                                        <input type="text" id="projectinput1" class="form-control"
                                            placeholder="Mã đơn hàng" name="id">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 label-control" for="projectinput2">Người nhận</label>
                                    <div class="col-md-3">
                                        <input type="text" id="projectinput2" class="form-control"
                                            placeholder="Tên người nhận" name="name">
                                    </div>
                                    <label class="col-md-1 label-control" for="projectinput3">Số điện thoại</label>
                                    <div class="col-md-2">
                                        <input type="text" id="projectinput3" class="form-control"
                                            placeholder="Số điện thoại người nhận" name="phone">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 label-control" for="projectinput4">Địa điểm</label>
                                    <div class="col-md-6">
                                        <input type="text" id="projectinput4" class="form-control"
                                            placeholder="Tên đường" name="street">
                                    </div>
                                    <button type="button" class="btn btn-primary mr-1">Định vị</button>
                                    <a style="color: white;" href="#" class="btn btn-danger mr-1">Quản lý địa điểm</a>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-3"></div>
                                    <div class="col-md-6">
                                        <input type="text" id="projectinput5" class="form-control"
                                            placeholder="Quận huyện" name="area">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-3"></div>
                                    <div class="col-md-6">
                                        <input type="text" id="projectinput6" class="form-control"
                                            placeholder="Thành phố" name="city"> <label class="label-control">Tọa
                                            độ (x,y): </label><label th:text="${coordinate }"></label>
                                    </div>
                                </div>
                            </div>
                            <h4 class="form-section">
                                <i class="ft-clipboard"></i> Mặt hàng
                            </h4>
                            <div style="padding-left: 150px;">
                                <div class="form-group row" id="custom-html">
                                    <div class="table-responsive">
                                        <div id="rendering" class="hot handsontable htColumnHeaders"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-check-square-o"></i> Lưu
                                </button>
                                <a style="color: white;" href="/load-order/details/address" class="btn btn-warning mr-1">
                                    <i class="ft-x"></i> Hủy
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>