<div id="page-content">
    <th:block th:include="fragments/customer/toolbar"></th:block>
    <div class="col-lg-12">
        <div class="block full">
            <div class="scroll-container">
                <form class="form form-horizontal ">
                    <div class="form-body row">
                        <div class="col-md-1">
                            <div class="form-group row">
                                             <a style="color: white;" href="/order/new" class="btn btn-primary mr-1">
                                    <i class="ft-x"></i> Thêm
                                </a>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group row">

                                <input type="text" id="userinput2" class="form-control border-primary"
                                    placeholder="Mã đơn hàng" name="idDH">

                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group row">
                                <label class="col-md-4 label-control" for="userinput2">Ngày giao từ</label>
                                <div class="col-md-8">
                                    <input type="date" id="userinput2" class="form-control border-primary"
                                        placeholder="dd/mm/yyyy" name="fromdate">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3  ">
                            <div class="form-group row">
                                <label class="col-md-2 label-control" for="userinput2">đến</label>
                                <div class="col-md-10">
                                    <input type="date" id="userinput2" class="form-control border-primary"
                                        placeholder="dd/mm/yyyy" name="todate">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                             <button type="submit" class="btn btn-primary">
                          <i class="fa"></i> Tìm kiếm
                        </button>
                        </div>
                    </div>
                </form>
            </div>
            <div id="orderTable" style="margin-top: 20px">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Mã mặt hàng</th>
                                <th>Khách hàng</th>
                                <th>Số điện thoại</th>
                                <th>Địa điểm</th>
                                <th>Ngày giao</th>
                                <th>Trạng thái</th>
                                <th><input id="check" type="checkbox"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row"><a href="/order/load-order/details">NEPDV-06-05-01</a></th>
                                <td>Mark</td>
                                <td>0123456789</td>
                                <td>tpHCM</td>
                                <td>1/1/2018</td>
                                <td>C</td>
                                <td><input id="check" type="checkbox"></td>
                            </tr>
                            <tr>
                                <th scope="row"><a href="/order/load-order/details">NEPDV-06-05-01</a></th>
                                <td>Jacob</td>
                                <td>0123456789</td>
                                <td>tpHCM</td>
                                <td>1/1/2018</td>
                                <td>C</td>
                                <td><input id="check" type="checkbox"></td>
                            </tr>
                            <tr>
                                <th scope="row"><a href="/order/load-order/details">NEPDV-06-05-01</a></th>
                                <td>Larry</td>
                                <td>0123456789</td>
                                <td>tpHCM</td>
                                <td>1/1/2018</td>
                                <td>C</td>
                                <td><input id="check" type="checkbox"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
         <a style="color: white;" href="/order/new" class="btn btn-primary mr-1">
                                    <i class="ft-x"></i> Lập kế hoạch
                                </a>
    </div>
</div>

<!-- Scripts xử lý nhập danh sách đơn hàng -->
<script>
        var dataOrders = [["", "", "", "", "", "", ""]
        ];

        var containerOrder= document.getElementById('orderTable');
        var hotOrder = null;

        initHotOrder();
        loadOrder();

        function initHotOrder() {
            if (hotOrder == null) {
            	hotOrder = new Handsontable(containerOrder, {
                    data: dataOrders,
                    rowHeaders: true,
                    minRows: 3,
                    minSpareRows: 1,
                    width: 800,
                    height: 320,
                    colHeaders: ["STT", "Mã đơn hàng", "Khách hàng", "Số điện thoại", "Địa điểm", "Ngày giao", "Trạng thái"],
                    columns: [
                        {data: 'id'},
                        {data: 'cd'},
                        {data: 'customer'},
                        {data: 'phone'},
                        {data: 'address'},
                        {data: 'deliveryDate'},
                        {data: 'status'}
                      ]
                
                  });
            }
        }
        
        // Load lại danh đơn hàng
        function loadOrder() {
            // load demo data
            $.ajax({
                url : 'load-order?id=1',
                type : 'GET',
                dataType : 'json',
                contentType : 'application/json',
                success : function(res) {
                    console.log("res=" + res);
                    if (res != null && res.length > 0) {
                        dataOrders = JSON.parse(res);
                        hotOrder.loadData(dataOrders);
                    }
                },
                error : function (e) {
                    console.log("Error " + e);
                }
            });
        }
    
    </script>