<div id="page-content">
    <th:block th:include="fragments/customer/toolbar"></th:block>
    <div class="col-lg-7">
        <div class="block full">
                  <div class="scroll-container">
                      <div id="orderTable">
                      </div>
                  </div>
        </div>
    </div>
</div>
    <!-- Scripts xử lý nhập danh sách đơn hàng -->
    <script>
        var dataOrders = [["", "", "", "", "", "", ""]
        ];

        var containerOrder= document.getElementById('orderTable');
        var hotOrder = null;

        initHotOrder();
        loadOrder();

        function initHotOrder() {
            if (hotOrder == null) {
            	hotOrder = new Handsontable(containerOrder, {
                    data: dataOrders,
                    rowHeaders: true,
                    minRows: 3,
                    minSpareRows: 1,
                    width: 800,
                    height: 320,
                    colHeaders: ["STT", "Mã đơn hàng", "Khách hàng", "Số điện thoại", "Địa điểm", "Ngày giao", "Trạng thái"],
                    columns: [
                        {data: 'id'},
                        {data: 'cd'},
                        {data: 'customer'},
                        {data: 'phone'},
                        {data: 'address'},
                        {data: 'deliveryDate'},
                        {data: 'status'}
                      ]
                
                  });
            }
        }
        
        // Load lại danh đơn hàng
        function loadOrder() {
            // load demo data
            $.ajax({
                url : 'load-order?id=1',
                type : 'GET',
                dataType : 'json',
                contentType : 'application/json',
                success : function(res) {
                    console.log("res=" + res);
                    if (res != null && res.length > 0) {
                        dataOrders = JSON.parse(res);
                        hotOrder.loadData(dataOrders);
                    }
                },
                error : function (e) {
                    console.log("Error " + e);
                }
            });
        }
    
    </script>