<th:block th:include="fragments/order/toolbar"></th:block>
<section id="horizontal-form-layouts">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title" id="horz-layout-basic" th:text="#{order.new.tip}">Nhập thông tin đơn hàng</h4>
                </div>
                <div class="card-content collpase show">
                    <div class="card-body">
                        <form id="frmOrder" class="form form-horizontal" action="#" method="post">
                            <div class="form-body">
                                <h4 class="form-section" th:text="#{order.new.receiver}">
                                    <i class="ft-user" ></i> Thông tin người nhận
                                </h4>
                                <div class="form-group row">
                                    <label class="col-md-3 label-control" for="projectinput1" th:text="#{order.search.orderId}">Mã đơn hàng</label>
                                    <div class="col-md-3">
                                        <input type="text" id="orderCd" class="form-control"
                                            th:placeholder="#{order.search.orderId}" name="id">
                                    </div>
                                    <div class="col-md-3">
                                        <button type="button" id="btnSelectCustomer" class="btn btn-info mr-1" th:text="#{customer.select}">Select Customer</button>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 label-control" for="projectinput2" th:text="#{customer.name}">Tên khách hàng</label>
                                    <div class="col-md-3">
                                        <input type="text" id="customer_name" class="form-control" th:placeholder="#{customer.name}" name="customer.name">
                                    </div>
                                    <label class="col-md-1 label-control" for="projectinput3" th:text="#{customer.phone}">Số điện thoại</label>
                                    <div class="col-md-2">
                                        <input type="text" id="customer_phone" class="form-control" th:placeholder="#{customer.phone}" name="phone">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 label-control" for="projectinput4" th:text="#{address.displayAddress}">Địa chỉ</label>
                                    <div class="col-md-6">
                                        <input type="text" id="customer_addr" class="form-control" th:placeholder="#{address.displayAddress}" name="street">
                                          <input type="hidden" id="latitude" name="latitude">
                                          <input type="hidden" id="longitude" name="longitude">
                                        
                                        <button type="button" id="btnShowMap" class="btn btn-info mr-1" th:text="#{map}">Bản đồ</button>
                                    </div>
                                </div>
                            </div>
                            <h4 class="form-section" th:text="#{product}">
                                <i class="ft-clipboard" ></i> Mặt hàng
                            </h4>
                            <!-- Mobiles and tablets for products -->
                            <section id="mobiles-tablets">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <a class="heading-elements-toggle"><i class="ft-ellipsis-h font-medium-3"></i></a>
                                                <div class="heading-elements">
                                                    <ul class="list-inline mb-0">
                                                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                                        <li><a data-action="close"><i class="ft-x"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="card-content collapse show">
                                                <div class="card-body card-dashboard ">
                                                    <div class="table-responsive scroll-container" style="padding-left: 210px;">
                                                        <div id="tableProduct" class="hot handsontable htRowHeaders htColumnHeaders"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary" th:text="#{save}">
                                    <i class="fa fa-check-square-o" ></i> Lưu
                                </button>
                                <a style="color: white;" href="/load-order/details/address" class="btn btn-warning mr-1" th:text="#{cancel}">
                                    <i class="ft-x"></i> Hủy
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>