<div class="app-content content">
    <div class="content-wrapper">
      <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-2">
          <h3 class="content-header-title" th:text="#{order.screentitle}">Order management</h3>
          <!-- Nav of the screen -->
          <th:block th:include="fragments/order/navbar"></th:block>
        </div>
        <div class="content-header-right col-md-6 col-12">
          <div class="media width-250 float-right">
            <media-left class="media-middle">
              <div id="sp-bar-total-sales"><canvas width="152" height="30" style="display: inline-block; width: 152px; height: 30px; vertical-align: top;"></canvas></div>
            </media-left>
            <div class="media-body media-right text-right">
              <h3 class="m-0" th:title="#{order.total}" id="total">0</h3>
              <span class="text-muted" th:text="#{order.total.desc}">Description</span>
            </div>
          </div>
        </div>
      </div>
      <div class="content-body">
        <!-- Basic form layout section start -->
        	<th:block th:include="fragments/order/toolbar"></th:block>
        	<div class="content-body">
                <section id="search-website" class="card overflow-hidden">
                  <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" th:text="#{order.search.tip}">Search Orders</h4>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                <li><a data-action="close"><i class="ft-x"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="card-body pb-0">
                            <form class="form form-horizontal ">
        						<div class="form-body row">
        							<div class="col-md-2">
        								<div class="form-group row">
        
        									<input type="text" id="userinput2"
        										class="form-control border-primary" th:placeholder="#{order.search.orderId}"
        										name="idDH">
        
        								</div>
        							</div>
        							<div class="col-md-4">
        								<div class="form-group row">
        									<label class="col-md-5 label-control" for="userinput2" th:text="#{order.search.deliveryDate}">Ngày
        										giao từ</label>
        									<div class="col-md-7">
        										<input type="date" id="userinput2"
        											class="form-control border-primary" placeholder="dd/mm/yyyy"
        											name="fromdate">
        									</div>
        								</div>
        							</div>
        							<div class="col-md-4">
        								<div class="form-group row">
        									<label class="col-md-3 label-control" for="userinput2" th:text="#{order.search.to}">đến</label>
        									<div class="col-md-9">
        										<input type="date" id="userinput2"
        											class="form-control border-primary" placeholder="dd/mm/yyyy"
        											name="todate">
        									</div>
        								</div>
        							</div>
        							<div class="col-md-1">
        								<button type="submit" class="btn btn-info" th:text="#{order.search.find	}">
        									<i class="fa"></i> Tìm kiếm
        								</button>
        							</div>
        						</div>
        					</form>
        				</div>
                        </div>
                
                        <!--/ Search Navbar-->
                        <!--Search Result-->
                        <div>
                          <table id="resultTable" class="table table-striped table-bordered">
                            <thead class="bg-teal bg-lighten-4">
        								<tr>
        									<th th:text="#{order.search.orderId}">Mã đơn hàng</th>
        									<th th:text="#{customer.name}">Khách hàng</th>
        									<th th:text="#{customer.phone}">Số điện thoại</th>
        									<th th:text="#{address.displayAddress}">Địa điểm</th>
        									<th th:text="#{order.search.deliveryDate}">Ngày giao</th>
        									<th th:text="#{order.status}">Trạng thái</th>
        									<th><input id="check" type="checkbox"></th>
        								</tr>
        							</thead>
        							
                          </table>
                        </div>
                    </div>
                  </div>
                </section>
            </div>

         <!-- // Basic form layout section end -->
      </div>
    </div>
  </div>

