<div class="row">
  <div class="col-12">
    <h1>Name of Book: {{book.name}}</h1>
    <form #f="ngForm" (ngSubmit)="save(f.value)">
      <div class="form-group">
        <label for="name">Name</label>
        <input #account="ngModel" [(ngModel)]="borrow.account" name="account" id="account" type="text" class="form-control" required>
        <div class="alert alert-danger" *ngIf="account.touched && account.invalid">
          Account is required.
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>
</div>
