<div class="row">
  <div class="col-md-6">
    <form #f="ngForm" (ngSubmit)="save(f.value)">
      <div class="form-group">
        <label for="name">Name</label>
        <input #name="ngModel" [(ngModel)]="vehicle.name" name="name" id="name" type="text" class="form-control" required>
        <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
          Title is required.
        </div>
      </div>
      <div class="form-group">
        <label for="volume">Volume</label>
        <input #volume="ngModel" [(ngModel)]="vehicle.volume" name="volume" id="volume" type="number" class="form-control" required>
        <div class="alert alert-danger" *ngIf="volume.touched && volume.invalid">
          Volume is required.
        </div>
      </div>
      <div class="form-group">
        <label for="capacity">Capacity</label>
        <input #capacity="ngModel" [(ngModel)]="vehicle.capacity" name="capacity" id="capacity" type="number" class="form-control" required>
        <div class="alert alert-danger" *ngIf="capacity.touched && capacity.invalid">
          Capacity is required.
        </div>
      </div>
      
      
      
      <button class="btn btn-primary">Save</button>
      <button type="button" (click)="delete()" class="btn btn-danger">Delete</button>
    </form>
  </div>
</div>
