<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr"
	xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="fragments/head"></th:block>
</head>
<body
	class="horizontal-layout horizontal-top-icon-menu 2-columns   menu-expanded"
	data-open="hover" data-menu="horizontal-menu" data-col="2-columns">
	<!-- fixed-top-->
	<th:block th:include="fragments/nav"></th:block>
	<!-- ////////////////////////////////////////////////////////////////////////////-->
	<!-- Horizontal navigation-->
	<th:block th:include="fragments/hnav"></th:block>
	<!-- Horizontal navigation-->

	<th:block th:include="fragments/plan/wizard"></th:block>

	<th:block th:include="fragments/footer"></th:block>

	<!-- Display Vehicle -->
	<script>
    // Lưu đối tượng table kết quả search
    var resultTable = null;
    var orderTable = null;
    var vehicleData;
  
    $(document).ready(function() {

    	// Khởi tạo Table kết quả
	    if (resultTable == null) {
	        $("#resultTable").DataTable({
	            ajax: {'url': _ctx + 'vehicle/load-vehicle', 'dataSrc': ''},
	            "columns": [
	              	   { "data": "id" },
	               	   { "data": "name" },
	               	   { "data": "length" },
	               	   { "data": "width" },
	               	   { "data": "height" },
	               	   { "data": "capacity" }
	                   ],
	               columnDefs: [ {
	                   orderable: false,
	                   className: 'select-checkbox',
	                   targets:   0
	    	       } ],
	               select: {
	                   style:    'os',
	                   selector: 'td:first-child'
	               }
	           });
	   	} else {
	           resultTable.fnDraw();
	    }


	    if (orderTable == null) {
	        $("#orderTable").DataTable({
	            ajax: {'url': _ctx + 'plan/load-orderCustomer', 'dataSrc': ''},
	            "columns": [
	              	   { "data": 0,
		              	   "render" : function(data, row, meta){
									data = '<a href="order/edit?orderCd='+ data + '">' + data +'</a>';
			              	   return data;
				            }
	              	    },
	               	   { "data": 1 },
	               	   { "data": 2 },
	               	   { "data": 3 },
	               	   { "data": 4 }
	               
	                   ],
	               columnDefs: [ {
	                   orderable: false,
	                   className: 'select-checkbox',
	                   targets:   0
	    	       } ],
	               select: {
	                   style:    'os',
	                   selector: 'td:first-child'
	               }
	           });
	   	} else {
	           resultTable.fnDraw();
	    }
	    


	    
    	
    	
	    function getCustomerData(handleData) {
	        $.ajax({
	            url : _ctx + "customer/load-customer",
	            type : "GET",
	            contentType: "application/json",
	            dataType: 'json',

	            success : function(result) {
	            	handleData(result);
	            },
	            error : function() {
	                console.log("Error!");
	            }
	        });
        }

// 	    if (orderTable == null) {
//     		getCustomerData(function(output){
//     			   var table = $("#orderTable").DataTable();
//                    for(var i = 0; i < output.length; i++){
//                    var customer = output[i];
//                    for(var j = 0; j < customer.orderMasterList.length; j++){
//                 	      var order = customer.orderMasterList[j];

//                           table.row.add(['<a href="order/edit?orderCd='+order.name + '">' +order.name +'</a>', customer.name, customer.phone, customer.addr, order.deliveryDate, null, '<input type="checkbox" id="input-15">']).draw();
//                      }
//                   }
//               }); 
//         } else {
//         	orderTable.fnDraw();
//         }

});     
    	
</script>
	
<script >
	var selectOrderTable = null;
	$('a[href^="#finish"]').on('click', function(e){
		e.preventDefault();
		
		// Dispay dialog of form orderPlan
        	// Load dữ liệu order
        	if (selectOrderTable == null) {
        		selectCustomerTable = $("#selectCustomerTable").DataTable({
                    ajax: {'url': _ctx + 'customer/load-customer', 'dataSrc': ''},
                    "columns": [
                           {"render": function ( data, type, full, meta ) {
                                // return '<input type="radio" name="addressRow" value="' + full.displayAddress + '">';
                               // Assign address id and displayAddress
                        	   return '<input type="radio" name="addressRow" value="' + full.id + '">';
                           }},  // here's a radio button, modify to use data to populate it
                    	   { "data": "id" },
                    	   { "data": "name" },
                    	   { "data": "addr" }
                    ]
                });
        	} else {
        		// selectAddressTable.fnDraw();
            }

            // Hiển thị hộp thoại
        	$("#dlgSearchCustomer").modal('show');
        });

        $('#btnSelectedCustomer').click(function(e) {

            var selectedCustomerId = $('input[name=addressRow]:checked').val();

            // Get Fulll addres from Id
            $.ajax({
                url : _ctx + "customer/load-customer/" + selectedCustomerId,

                success : function(result) {
                    console.log("Load customer result =" + JSON.stringify(result));
                    
                    // fresh address
                    refreshCustomer(result);
                },
                error : function() {
                    console.log("Error!");
                }
            });
        });

        /**
         * @param addrId
         * @param fullAddr
         * @global selectCustomerRow
         */
        function refreshCustomer(customer) {
            // Set address into Address of the Customer
            $('#customer_id').val(customer.id);
            $('#customer_name').val(customer.name);
            $('#customer_phone').val(customer.phone);
            $('#customer_addr').val(customer.addr);

        }
   		

</script>
</body>
</html>