<div class="app-content content">
    <div class="content-wrapper">
      <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-2">
          <h3 class="content-header-title" th:text="#{plan.delivery.screentitle}">Screen title</h3>
          <!-- Nav of the screen -->
          <th:block th:include="fragments/plan/navbar"></th:block>

        </div>
        <div class="content-header-right col-md-6 col-12">
          <div class="media width-250 float-right">
            <media-left class="media-middle">
              <div id="sp-bar-total-sales"><canvas width="152" height="30" style="display: inline-block; width: 152px; height: 30px; vertical-align: top;"></canvas></div>
            </media-left>
            <div class="media-body media-right text-right">
              <h3 class="m-0" th:title="#{order.total}" id = "total">1234</h3>
              <span class="text-muted" th:text="#{order.total.desc}">Description</span>
            </div>
          </div>
        </div>
      </div>
        <!-- Form wizard with icon tabs section start -->
        <section id="icon-tabs">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title" th:text="#{plan.deliver.tasktitle}">Check orders, trucks and make the plan to delivery</h4>
                            <a class="heading-elements-toggle"><i class="ft-ellipsis-h font-medium-3"></i></a>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                    <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                    <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                    <li><a data-action="close"><i class="ft-x"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-content collapse show">
                            <div class="card-body">
                                <form action="#" class="icons-tab-steps wizard-circle">
                                    <th:block th:include="fragments/plan/1_order"></th:block>
                                    <th:block th:include="fragments/plan/2_vehicle"></th:block>
                                    <th:block th:include="fragments/plan/3_delivery_plan"></th:block>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Form wizard with icon tabs section end -->

    </div>
  </div>
