<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
  <!-- ////////////////////////////////////////////////////////////////////////////-->
  <footer class="footer footer-static footer-dark">
    <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2">
      <span class="float-md-left d-block d-md-inline-block">Copyright &copy; 2018 <a class="text-bold-800 grey darken-2" href="http://myworkspace.vn"
        target="_blank">MyWorkspace </a>, All rights reserved. </span>
      <span class="float-md-right d-block d-md-inline-blockd-none d-lg-block">Contact ThachLN@mks.com.vn <i class="ft-heart pink"></i></span>
    </p>
  </footer>
  <!-- BEGIN VENDOR JS-->
  <script th:src="@{/themes/robust-admin/app-assets/vendors/js/vendors.min.js}" type="text/javascript"></script>
  <!-- BEGIN VENDOR JS-->
  <!-- BEGIN PAGE VENDOR JS-->
  <script type="text/javascript" th:src="@{/themes/robust-admin/app-assets/vendors/js/ui/jquery.sticky.js}"></script>
  <script type="text/javascript" th:src="@{/themes/robust-admin/app-assets/vendors/js/charts/jquery.sparkline.min.js}"></script>
  <script th:src="@{/themes/robust-admin/app-assets/vendors/js/tables/handsontable/handsontable.full.js}" type="text/javascript"></script>
  <script th:src="@{/themes/robust-admin/app-assets/vendors/js/tables/handsontable/jsgrid.min.js}" type="text/javascript"></script>
  <script th:src="@{/themes/robust-admin/app-assets/vendors/js/tables/handsontable/languages.min.js}" type="text/javascript"></script>
  <script th:src="@{/themes/robust-admin/app-assets/vendors/js/tables/jquery.dataTables.min.js}" type="text/javascript"></script>
  <script th:src="@{/themes/robust-admin/app-assets/vendors/js/tables/datatable/dataTables.bootstrap4.min.js}" type="text/javascript"></script>

  <!-- END PAGE VENDOR JS-->

</body>
</html>