    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="MyWorkspace provides you a service to become a profressional Java programmer.">
    <meta name="keywords" content="Java, Java Programmer, Clean Code">
    <meta name="author" content="MKS.COM.VN">
    <title th:text="#{app.title}">Goodway - Lập kế hoạch giao hàng hợp lý</title>
    <link rel="apple-touch-icon" th:href="@{#{theme.root} + 'robust-admin/app-assets/images/ico/apple-icon-120.png'}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{#{theme.root} + 'robust-admin/app-assets/images/ico/favicon.ico'}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Muli:300,400,500,700" rel="stylesheet">
    <!-- BEGIN VENDOR CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{#{theme.root} + 'robust-admin/app-assets/css/vendors.css'}">
    <link rel="stylesheet" type="text/css" th:href="@{#{theme.root} + 'robust-admin/app-assets/vendors/css/tables/handsontable/handsontable.full.min.css'}">
    <link rel="stylesheet" type="text/css" th:href="@{#{theme.root} + 'robust-admin/app-assets/vendors/css/tables/handsontable/jsgrid-theme.min.css'}">
    <link rel="stylesheet" type="text/css" th:href="@{#{theme.root} + 'robust-admin/app-assets/vendors/css/tables/handsontable/jsgrid.min.css'}">
    
    <link rel="stylesheet" type="text/css" th:href="@{#{theme.root} + 'robust-admin/app-assets/vendors/css/tables/datatable/datatables.min.css'}">
    <link rel="stylesheet" type="text/css" th:href="@{#{theme.root} + 'robust-admin/app-assets/vendors/css/tables/extensions/autoFill.dataTables.min.css'}">
    <link rel="stylesheet" type="text/css" th:href="@{#{theme.root} + 'robust-admin/app-assets/vendors/css/tables/extensions/colReorder.dataTables.min.css'}">
    
    <link rel="stylesheet" type="text/css" th:href="@{#{theme.root} + 'robust-admin/app-assets/vendors/css/tables/datatable/dataTables.bootstrap4.min.css'}">
    <link rel="stylesheet" type="text/css" th:href="@{#{theme.root} + 'robust-admin/app-assets/vendors/css/tables/datatable/jquery.dataTables.min.css'}">
    <link rel="stylesheet" type="text/css" th:href="@{#{theme.root} + 'robust-admin/app-assets/vendors/css/tables/datatable/select.dataTables.min.css'}">
    
    
    <link rel="stylesheet" type="text/css" th:href="@{#{theme.root} + 'robust-admin/app-assets/vendors/css/tables/datatable/buttons.bootstrap4.min.css'}">
    
    <!-- END VENDOR CSS-->
    <!-- BEGIN ROBUST CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{#{theme.root} + 'robust-admin/app-assets/css/app.css'}">
    <!-- END ROBUST CSS-->
    <!-- BEGIN Page Level CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{#{theme.root} + 'robust-admin/app-assets/css/core/menu/menu-types/horizontal-top-icon-menu.css'}">
    <link rel="stylesheet" type="text/css" th:href="@{#{theme.root} + 'robust-admin/app-assets/css/plugins/tables/handsontable.css'}">
    <link rel="stylesheet" type="text/css" th:href="@{#{theme.root} + 'robust-admin/app-assets/css/core/colors/palette-gradient.css'}">
    <link rel="stylesheet" type="text/css" th:href="@{#{theme.root} + 'robust-admin/app-assets/css/plugins/forms/wizard.css'}">
    <link rel="stylesheet" type="text/css" th:href="@{#{theme.root} + 'robust-admin/app-assets/css/plugins/pickers/daterange/daterange.css'}">
    <!-- END Page Level CSS-->
    <!-- BEGIN Custom CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{#{theme.root} + 'robust-admin/assets/css/style.css'}">
    
    <link rel="stylesheet" type="text/css" th:href="@{#{theme.root} + 'robust-admin/app-assets/vendors/css/forms/selects/select2.min.css'}">
    
    <!-- CodeMirror -->
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/codemirror/5.33.0/lib/codemirror.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/codemirror/5.33.0/addon/hint/show-hint.css}"/>
    <!-- END Custom CSS-->