  <div class="header-navbar navbar-expand-sm navbar navbar-horizontal navbar-fixed navbar-light navbar-without-dd-arrow navbar-bordered navbar-shadow"
  role="navigation" data-menu="menu-wrapper">
    <!-- Horizontal menu content-->
    <div class="navbar-container main-menu-content" data-menu="menu-container">
      <!-- include ../../../includes/mixins-->
      <ul class="nav navbar-nav" id="main-menu-navigation" data-menu="menu-navigation">
        <li class="dropdown nav-item" data-menu="dropdown">
          <a class="nav-link" th:href="@{/}"><i class="icon-home"></i>
            <span data-i18n="nav.dash.main" th:text="#{homepage}">Dashboard</span>
          </a>
        </li>
        <li class="dropdown nav-item"><a class="nav-link" th:href="@{/address/new}" ><i class="icon-drop"></i><span data-i18n="nav.category.forms" th:text="#{locations}">Locations</span></a>
        </li>
        <li class="dropdown nav-item"><a class="nav-link" th:href="@{/customer/new}" ><i class="icon-user-following"></i><span data-i18n="nav.category.forms" th:text="#{customer}">Customer</span></a>
        </li>
        <li class="dropdown nav-item"><a class="nav-link" th:href="@{/vehicle/new}"><i class="icon-plane"></i><span data-i18n="nav.category.ui" th:text="#{vehicles}">Vehicles</span></a>
        </li>
        <li class="dropdown nav-item"><a class="nav-link" th:href="@{/product/new}" ><i class="ft-box"></i><span data-i18n="nav.category.forms" th:text="#{product}">Product</span></a>
        </li>
        <li class="dropdown nav-item"><a class="nav-link" th:href="@{/order/new}" ><i class="icon-basket-loaded"></i><span data-i18n="nav.templates.main" th:text="#{orders}">Orders</span></a>
        </li>

        <li class="dropdown nav-item"><a class="nav-link" th:href="@{/plan}" ><i class="icon-calendar"></i><span data-i18n="nav.category.forms" th:text="#{plan}">Plan</span></a>
        </li>

        <li class="dropdown mega-dropdown nav-item" data-menu="megamenu"><a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown"><i class="icon-settings"></i><span data-i18n="nav.category.addons" th:text="#{settings}">Settings</span></a>
          <ul class="mega-dropdown-menu dropdown-menu row">
            <li class="col-md-3" data-mega-col="col-md-3">
              <a th:href="@{/stock}">
                  <h6 class="dropdown-menu-header text-uppercase" data-toggle="dropdown"><i class="icon-note"></i>Kho hàng
                  </h6>
              </a>
              <ul class="drilldown-menu">
                <li class="menu-list">
                  <ul class="mega-menu-sub">
                    <li><a class="dropdown-item" href="editor-quill.html"><i></i>Kho hàng 1</a>
                    </li>
                    <li><a class="dropdown-item" href="editor-ckeditor.html"><i></i>Kho hàng 2</a>
                    </li>
                    <li><a class="dropdown-item" href="editor-summernote.html"><i></i>Kho hàng 3</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="col-md-3" data-mega-col="col-md-3">
              <h6 class="dropdown-menu-header text-uppercase" data-toggle="dropdown"><i class="icon-chemistry"></i>jQuery UI
              </h6>
              <ul class="drilldown-menu">
                <li class="menu-list">
                  <ul class="mega-menu-sub">
                    <li><a class="dropdown-item" href="jquery-ui-interactions.html"><i></i>Interactions</a>
                    </li>
                    <li><a class="dropdown-item" href="jquery-ui-navigations.html"><i></i>Navigations</a>
                    </li>
                    <li><a class="dropdown-item" href="jquery-ui-date-pickers.html"><i></i>Date Pickers</a>
                    </li>
                    <li><a class="dropdown-item" href="jquery-ui-autocomplete.html"><i></i>Autocomplete</a>
                    </li>
                    <li><a class="dropdown-item" href="jquery-ui-buttons-select.html"><i></i>Buttons &amp; Select</a>
                    </li>
                    <li><a class="dropdown-item" href="jquery-ui-slider-spinner.html"><i></i>Slider &amp; Spinner</a>
                    </li>
                    <li><a class="dropdown-item" href="jquery-ui-dialog-tooltip.html"><i></i>Dialog &amp; Tooltip</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="col-md-3" data-mega-col="col-md-3">
              <h6 class="dropdown-menu-header text-uppercase" data-toggle="dropdown"><i class="icon-mouse"></i>Other Addons
              </h6>
              <ul class="drilldown-menu">
                <li class="menu-list">
                  <ul class="mega-menu-sub">
                    <li><a class="dropdown-item" href="#"><i class="icon-calendar5"></i>Pickers</a>
                      <ul class="mega-menu-sub">
                        <li><a class="dropdown-item" href="pickers-date-&amp;-time-picker.html"><i></i>Date &amp; Time Picker</a>
                        </li>
                        <li><a class="dropdown-item" href="pickers-color-picker.html"><i></i>Color Picker</a>
                        </li>
                      </ul>
                    </li>
                    <li><a class="dropdown-item" href="add-on-block-ui.html"><i class="icon-security"></i>Block UI</a>
                    </li>
                    <li><a class="dropdown-item" href="add-on-image-cropper.html"><i></i>Image Cropper</a>
                    </li>
                    <li><a class="dropdown-item" href="add-on-drag-drop.html"><i class="icon-arrow-move"></i>Drag &amp; Drop</a>
                    </li>
                    <li><a class="dropdown-item" href="#"><i class="icon-cloud-upload3"></i>File Uploader</a>
                      <ul class="mega-menu-sub">
                        <li><a class="dropdown-item" href="file-uploader-dropzone.html"><i></i>Dropzone</a>
                        </li>
                        <li><a class="dropdown-item" href="file-uploader-jquery.html"><i></i>jQuery File Upload</a>
                        </li>
                      </ul>
                    </li>
                    <li><a class="dropdown-item" href="#"><i class="icon-calendar4"></i>Event Calendars</a>
                      <ul class="mega-menu-sub">
                        <li><a class="dropdown-item" href="#"><i></i>Full Calendar</a>
                          <ul class="mega-menu-sub">
                            <li><a class="dropdown-item" href="full-calender-basic.html"><i></i>Basic</a>
                            </li>
                            <li><a class="dropdown-item" href="full-calender-events.html"><i></i>Events</a>
                            </li>
                            <li><a class="dropdown-item" href="full-calender-advance.html"><i></i>Advance</a>
                            </li>
                            <li><a class="dropdown-item" href="full-calender-extra.html"><i></i>Extra</a>
                            </li>
                          </ul>
                        </li>
                        <li><a class="dropdown-item" href="calendars-clndr.html"><i class="icon-calendar2"></i>CLNDR</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="col-md-3" data-mega-col="col-md-3">
              <h6 class="dropdown-menu-header text-uppercase" data-toggle="dropdown"><i class="icon-info"></i>Internationalization
              </h6>
              <ul class="drilldown-menu">
                <li class="menu-list">
                  <ul class="mega-menu-sub">
                    <li><a class="dropdown-item" href="i18n-resources.html"><i></i>Resources</a>
                    </li>
                    <li><a class="dropdown-item" href="i18n-xhr-backend.html"><i></i>XHR Backend</a>
                    </li>
                    <li><a class="dropdown-item" href="i18n-query-string.html?lng=en"><i></i>Query String</a>
                    </li>
                    <li><a class="dropdown-item" href="i18n-on-init.html"><i></i>On Init</a>
                    </li>
                    <li><a class="dropdown-item" href="i18n-after-init.html"><i></i>After Init</a>
                    </li>
                    <li><a class="dropdown-item" href="i18n-fallback.html"><i></i>Fallback</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="dropdown mega-dropdown nav-item" data-menu="megamenu"><a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown"><i class="icon-graph"></i><span data-i18n="nav.category.charts_maps" th:text="#{administrative}">Administrative</span></a>
          <ul class="mega-dropdown-menu dropdown-menu row">
            <li class="col-md-3" data-mega-col="col-md-3">
              <ul class="drilldown-menu">
                <li class="menu-list">
                  <ul class="mega-menu-sub">
                    <li><a class="dropdown-item" href="#"><i class="icon-social-google"></i>google Charts</a>
                      <ul class="mega-menu-sub">
                        <li><a class="dropdown-item" href="google-bar-charts.html"><i></i>Bar charts</a>
                        </li>
                        <li><a class="dropdown-item" href="google-line-charts.html"><i></i>Line charts</a>
                        </li>
                        <li><a class="dropdown-item" href="google-pie-charts.html"><i></i>Pie charts</a>
                        </li>
                        <li><a class="dropdown-item" href="google-scatter-charts.html"><i></i>Scatter charts</a>
                        </li>
                        <li><a class="dropdown-item" href="google-bubble-charts.html"><i></i>Bubble charts</a>
                        </li>
                        <li><a class="dropdown-item" href="google-other-charts.html"><i></i>Other charts</a>
                        </li>
                      </ul>
                    </li>
                    <li><a class="dropdown-item" href="#"><i class="icon-pie-chart"></i>Echarts</a>
                      <ul class="mega-menu-sub">
                        <li><a class="dropdown-item" href="echarts-line-area-charts.html"><i></i>Line &amp; Area charts</a>
                        </li>
                        <li><a class="dropdown-item" href="echarts-bar-column-charts.html"><i></i>Bar &amp; Column charts</a>
                        </li>
                        <li><a class="dropdown-item" href="echarts-pie-doughnut-charts.html"><i></i>Pie &amp; Doughnut charts</a>
                        </li>
                        <li><a class="dropdown-item" href="echarts-scatter-charts.html"><i></i>Scatter charts</a>
                        </li>
                        <li><a class="dropdown-item" href="echarts-radar-chord-charts.html"><i></i>Radar &amp; Chord charts</a>
                        </li>
                        <li><a class="dropdown-item" href="echarts-funnel-gauges-charts.html"><i></i>Funnel &amp; Gauges charts</a>
                        </li>
                        <li><a class="dropdown-item" href="echarts-combination-charts.html"><i></i>Combination charts</a>
                        </li>
                        <li><a class="dropdown-item" href="echarts-advance-charts.html"><i></i>Advance charts</a>
                        </li>
                      </ul>
                    </li>
                    <li><a class="dropdown-item" href="#"><i class="icon-graph"></i>Chartjs</a>
                      <ul class="mega-menu-sub">
                        <li><a class="dropdown-item" href="chartjs-line-charts.html"><i></i>Line charts</a>
                        </li>
                        <li><a class="dropdown-item" href="chartjs-bar-charts.html"><i></i>Bar charts</a>
                        </li>
                        <li><a class="dropdown-item" href="chartjs-pie-doughnut-charts.html"><i></i>Pie &amp; Doughnut charts</a>
                        </li>
                        <li><a class="dropdown-item" href="chartjs-scatter-charts.html"><i></i>Scatter charts</a>
                        </li>
                        <li><a class="dropdown-item" href="chartjs-polar-radar-charts.html"><i></i>Polar &amp; Radar charts</a>
                        </li>
                        <li><a class="dropdown-item" href="chartjs-advance-charts.html"><i></i>Advance charts</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="col-md-3" data-mega-col="col-md-3">
              <ul class="drilldown-menu">
                <li class="menu-list">
                  <ul class="mega-menu-sub">
                    <li><a class="dropdown-item" href="#"><i class="icon-chart"></i>D3 Charts</a>
                      <ul class="mega-menu-sub">
                        <li><a class="dropdown-item" href="d3-line-chart.html"><i></i>Line Chart</a>
                        </li>
                        <li><a class="dropdown-item" href="d3-bar-chart.html"><i></i>Bar Chart</a>
                        </li>
                        <li><a class="dropdown-item" href="d3-pie-chart.html"><i></i>Pie Chart</a>
                        </li>
                        <li><a class="dropdown-item" href="d3-circle-diagrams.html"><i></i>Circle Diagrams</a>
                        </li>
                        <li><a class="dropdown-item" href="d3-tree-chart.html"><i></i>Tree Chart</a>
                        </li>
                        <li><a class="dropdown-item" href="d3-other-charts.html"><i></i>Other Charts</a>
                        </li>
                      </ul>
                    </li>
                    <li><a class="dropdown-item" href="#"><i class="icon-direction"></i>C3 Charts</a>
                      <ul class="mega-menu-sub">
                        <li><a class="dropdown-item" href="c3-line-chart.html"><i></i>Line Chart</a>
                        </li>
                        <li><a class="dropdown-item" href="c3-bar-pie-chart.html"><i></i>Bar &amp; Pie Chart</a>
                        </li>
                        <li><a class="dropdown-item" href="c3-axis-chart.html"><i></i>Axis Chart</a>
                        </li>
                        <li><a class="dropdown-item" href="c3-data-chart.html"><i></i>Data Chart</a>
                        </li>
                        <li><a class="dropdown-item" href="c3-grid-chart.html"><i></i>Grid Chart</a>
                        </li>
                        <li><a class="dropdown-item" href="c3-transform-chart.html"><i></i>Transform Chart</a>
                        </li>
                        <li><a class="dropdown-item" href="c3-other-charts.html"><i></i>Other Charts</a>
                        </li>
                      </ul>
                    </li>
                    <li><a class="dropdown-item" href="#"><i class="icon-disc"></i>Chartist</a>
                      <ul class="mega-menu-sub">
                        <li><a class="dropdown-item" href="chartist-line-charts.html"><i></i>Line charts</a>
                        </li>
                        <li><a class="dropdown-item" href="chartist-bar-charts.html"><i></i>Bar charts</a>
                        </li>
                        <li><a class="dropdown-item" href="chartist-pie-charts.html"><i></i>Pie charts</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="col-md-3" data-mega-col="col-md-3">
              <ul class="drilldown-menu">
                <li class="menu-list">
                  <ul class="mega-menu-sub">
                    <li><a class="dropdown-item" href="#"><i class="icon-control-pause"></i>Dimple Charts</a>
                      <ul class="mega-menu-sub">
                        <li><a class="dropdown-item" href="dimple-line-area-chart.html"><i></i>Line &amp; Area Chart</a>
                        </li>
                        <li><a class="dropdown-item" href="dimple-bar-column-chart.html"><i></i>Bar &amp; Column Chart</a>
                        </li>
                        <li><a class="dropdown-item" href="dimple-pie-ring-chart.html"><i></i>Pie &amp; Ring Chart</a>
                        </li>
                        <li><a class="dropdown-item" href="dimple-step-chart.html"><i></i>Step Chart</a>
                        </li>
                        <li><a class="dropdown-item" href="dimple-scatter-chart.html"><i></i>Scatter Chart</a>
                        </li>
                        <li><a class="dropdown-item" href="dimple-bubble-chart.html"><i></i>Bubble Chart</a>
                        </li>
                      </ul>
                    </li>
                    <li><a class="dropdown-item" href="morris-charts.html"><i class="icon-globe"></i>Morris Charts</a>
                    </li>
                    <li><a class="dropdown-item" href="#"><i class="icon-vector"></i>Flot Charts</a>
                      <ul class="mega-menu-sub">
                        <li><a class="dropdown-item" href="flot-line-charts.html"><i></i>Line charts</a>
                        </li>
                        <li><a class="dropdown-item" href="flot-bar-charts.html"><i></i>Bar charts</a>
                        </li>
                        <li><a class="dropdown-item" href="flot-pie-charts.html"><i></i>Pie charts</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="col-md-3" data-mega-col="col-md-3">
              <ul class="drilldown-menu">
                <li class="menu-list">
                  <ul class="mega-menu-sub">
                    <li><a class="dropdown-item" href="rickshaw-charts.html"><i class="icon-compass"></i>Rickshaw Charts</a>
                    </li>
                    <li><a class="dropdown-item" href="#"><i class="icon-location-pin"></i>Maps</a>
                      <ul class="mega-menu-sub">
                        <li><a class="dropdown-item" href="#"><i></i>google Maps</a>
                          <ul class="mega-menu-sub">
                            <li><a class="dropdown-item" href="gmaps-basic-maps.html"><i></i>Maps</a>
                            </li>
                            <li><a class="dropdown-item" href="gmaps-services.html"><i></i>Services</a>
                            </li>
                            <li><a class="dropdown-item" href="gmaps-overlays.html"><i></i>Overlays</a>
                            </li>
                            <li><a class="dropdown-item" href="gmaps-routes.html"><i></i>Routes</a>
                            </li>
                            <li><a class="dropdown-item" href="gmaps-utils.html"><i></i>Utils</a>
                            </li>
                          </ul>
                        </li>
                        <li><a class="dropdown-item" href="#"><i></i>Vector Maps</a>
                          <ul class="mega-menu-sub">
                            <li><a class="dropdown-item" href="#"><i></i>jQuery Mapael</a>
                              <ul class="mega-menu-sub">
                                <li><a class="dropdown-item" href="vector-maps-mapael-basic.html"><i></i>Basic Maps</a>
                                </li>
                                <li><a class="dropdown-item" href="vector-maps-mapael-advance.html"><i></i>Advance Maps</a>
                                </li>
                              </ul>
                            </li>
                            <li><a class="dropdown-item" href="vector-maps-jvector.html"><i></i>jVector Map</a>
                            </li>
                            <li><a class="dropdown-item" href="vector-maps-jqv.html"><i></i>JQV Map</a>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="dropdown nav-item" data-menu="dropdown"><a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown"><i class="icon-support"></i><span data-i18n="nav.category.support" th:text="#{support}">Support</span></a>
          <ul class="dropdown-menu">
            <li data-menu=""><a class="dropdown-item" th:href="@{/support/online}" data-toggle="dropdown" th:text="#{support.online}">Online Support</a>
            </li>
            <li data-menu=""><a class="dropdown-item" href="/themes/robust-admin/html/ltr/horizontal-top-icon-menu-template/index.html" _target="blank">Order Layout</a>
            </li>
          </ul>
        </li>
        <li class="nav-item"><a class="nav-link" th:href="@{/demo}"><i class="icon-energy spinner bg-danger box-shadow-3"></i><span data-i18n="nav.category.support" class="alert alert-danger mb-2">Demo</span></a>
        </li>
      </ul>
    </div>
    <!-- /horizontal menu content-->
  </div>