<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/head"></th:block>
</head>
<body class="horizontal-layout horizontal-top-icon-menu 2-columns   menu-expanded" data-open="hover" data-menu="horizontal-menu" data-col="2-columns">
  <!-- fixed-top-->
    <th:block th:include="fragments/nav"></th:block>
  <!-- ////////////////////////////////////////////////////////////////////////////-->
  <!-- Horizontal navigation-->
    <th:block th:include="fragments/hnav"></th:block>
  <!-- Horizontal navigation-->

  <th:block th:include="fragments/product/new"></th:block>
  
  <th:block th:include="fragments/footer"></th:block>
   <script>
        var dataProducts = [],numValidate;
        var deletedIds = [];
        var hotProduct = null;
		var valid1 = true;

		numValidate = function(value, callback){
			setTimeout(function(){
				if(/[0-9]+/.test(value) || value == ''){
					callback(true);
// 					$("#save").show();
				} else {
					callback(false);
// 					$("#save").hide();
				}
			});
		};
		
        $(function() {
		
        	var containerProduct = document.getElementById('tableProduct');

        	hotProduct = new Handsontable(containerProduct, {
                data: dataProducts,
                colHeaders: ["ID", "Tên sản phẩm", "Mô tả", "Cao (m)", "Rộng (m)", "Dài (m)", "Trọng lượng (kg)"],
                colWidths: [50, 250, 250, 100, 100, 120,100],
                minRows: 10,
                currentRowClassName: 'currentRow',
                currentColClassName: 'currentCol',
            	manualColumnResize: true,
                manualRowResize: true,
                rowHeaders: true,
                contextMenu: ['remove_row'],
                columns: [
                	{data: 'id', readOnly: true},
                    {data: 'name'},
                    {data: 'description'},
                    {data: 'height',
                     type: 'numeric',
             		 validator: numValidate,
             		 allowInvalid: false},
                    {data: 'width',
                     type: 'numeric',
             		 validator: numValidate,
                	 allowInvalid: false
                    },
                    {data: 'length',
                     type: 'numeric',
                	 validator: numValidate,
                	 allowInvalid: false},
                    {data: 'weight',
                	 type: 'numeric',
                 	 validator: numValidate,
                 	 allowInvalid: false
					}
                  ],
                  
                  
                  beforeRemoveRow: function (index, amount) {
                	  var lastIndex = index + amount;
                      var i;
                      for (i = index; i < lastIndex; i++) {
                          console.log("dataProducts=" + JSON.stringify(dataProducts));
                          var deletedProducts = dataProducts[i];
                          var deletedId = deletedProducts.id;

                          console.log("Row = " + i + ";deletedId = " + deletedId);
                          if (deletedId) {
                        	  deletedIds.push(deletedId);
                          }
                      }

                      console.log("list deletedIds=" + deletedIds);
                  },
              });
        	loadProducts();
        });
	

        /**
         * @param vehicleId: -1 means loading all
         */
        function loadProducts(productId) {
            var url;
            var total = document.getElementById('total');
            
            if (productId === undefined) {
                url = _ctx + 'product/load-product';
            } else {
                url = _ctx + 'product/load-product?id=' + productId;
            }

            $.ajax({
                url : url,
                type : 'GET',
                dataType : 'json',
                contentType : 'application/json',
                success : function(res) {
                    total.innerHTML = res.length;
                    
                    // Update data into the handsontable
                    dataProducts = res;
                    hotProduct.loadData(dataProducts);
                },
                error : function (e) {
                    console.log("Error: " + e);
                }
            });
        }
    </script>
    
    <script>
    var errorSbm = false;
        $('#frmHot').submit(function(e,callback) {
            e.preventDefault();
    
            var frm = $('#frmHot');
            var selectPoolId = $('#poolId').val();
            var frmData = new FormData(this);
    
            // Get header name
            var colHeaderData =  hotProduct.getColHeader();
            
            // Get data from Handsontable
            var tableData = hotProduct.getData();

            
            var frmData = {};
            frmData["header"] = colHeaderData;
            frmData["data"] = tableData;
            frmData["deletedIds"] = deletedIds;

            var a = hotProduct.getDataAtCell(1,2);

			
	        for(var i = 0 ; i < dataProducts.length ; i++ ){
	        	console.log(i);
	        	if(!hotProduct.isEmptyRow(i)){
	        		if(hotProduct.getDataAtCell(i,2) == "" || hotProduct.getDataAtCell(i,1) == "" || hotProduct.getDataAtCell(i,2) == null || hotProduct.getDataAtCell(i,1) == null){
	        			errorSbm = true;
	        			break;
	        		} else {
	        	    	hotProduct.getDataAtCell(i,1);
	        			hotProduct.getDataAtCell(i,2);
					console.log(hotProduct.getDataAtCell(i,1));
					console.log(hotProduct.getDataAtCell(i,2));
					errorSbm = false;
	        		}
	        	}
					
	        }
			console.log(errorSbm);
			if(errorSbm == false){
	            $.ajax({
	                url : _ctx + "product/save",
	                type : "POST",
	                contentType: "application/json",
	                data: JSON.stringify(frmData),
	                dataType: 'json',
	
	                success : function(result) {
	                	 $('#result').fadeToggle('slow'); $('#result').fadeOut(5000); 
	                	 
	                    // reload data
	                	loadProducts();
	                },
	                error : function() {
	                    console.log("Error!");
	                }
	            });
			} else {
				 $('#error').fadeToggle('slow'); $('#error').fadeOut(5000); 
            	 
			}
			
        });
    </script>
</body>
</html>