<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/head"></th:block>
</head>
<body class="horizontal-layout horizontal-top-icon-menu 2-columns   menu-expanded" data-open="hover" data-menu="horizontal-menu" data-col="2-columns">
  <!-- fixed-top-->
    <th:block th:include="fragments/nav"></th:block>
  <!-- ////////////////////////////////////////////////////////////////////////////-->
  <!-- Horizontal navigation-->
    <th:block th:include="fragments/hnav"></th:block>
  <!-- Horizontal navigation-->

  <th:block th:include="fragments/vehicle/new"></th:block>
  
  <th:block th:include="fragments/footer"></th:block>
  
    <script>
        numberValidator = function (value, callback) {
          setTimeout(function(){
                if (/[1-9]+/.test(value) && (value > 0 && value < 1000)) {
                  callback(true);
                }
                else {
                  callback(false);
                }
                
          }, 0);
        };

        textValidator = function (value, callback) {
            setTimeout(function(){
                  if (value.length > 0 && value.length < 500) {
                    callback(true);
                  }
                  else {
                    callback(false);
                  }
                  
            }, 0);
          };
    </script>
    
    <script>

    	
    	var deletedIds = [];
        var dataVehicles = [];
        var invalidFeilds = new Set();
        var hotVehicle = null;

        $(function() {
        	var containerVehicle = document.getElementById('tableVehicle');

        	hotVehicle = new Handsontable(containerVehicle, {
                data: dataVehicles,
                colHeaders: ["ID", "Tên xe", "Dài (m)", "Rộng (m)", "Cao (m)", "Tải Trọng (tấn)"],
                colWidths: [50, 250, 100, 100, 100, 120],
                rowHeaders: true,
                minRows: 5,
                currentRowClassName: 'currentRow',
                currentColClassName: 'currentCol',
            	manualColumnResize: true,
                manualRowResize: true,
                contextMenu: ['remove_row'],
                columns: [
                	{data: 'id', readOnly: true },
                    {data: 'name', validator: textValidator },
                    {data: 'length', validator: numberValidator },
                    {data: 'width', validator: numberValidator },
                    {data: 'height', validator: numberValidator },
                    {data: 'capacity', validator: numberValidator }
                  ],

                  // Bắt và xử lý thao tác xoá dòng (bấm phải chuột, chọn Remove Row)
                  beforeRemoveRow: function (index, amount) {
                      console.log("Removed row index =" + index + ";amount=" + amount);


                      // Support to submit deleted id into server
                      console.log("index=" + index);
                      var lastIndex = index + amount;
                      var i;
                      for (i = index; i < lastIndex; i++) {
                          console.log("dataVehicles=" + JSON.stringify(dataVehicles));
                          var deletedVehicle = dataVehicles[i];
                          var deletedId = deletedVehicle.id;

                          console.log("Row = " + i + ";deletedId = " + deletedId);
                          if (deletedId) {
                        	  deletedIds.push(deletedId);
                          }
                          
                          // Remove invalid cell of deleting row if exists in invalidFeilds.
                          for(var col = 0; col < this.countCols(); col++){
                              if(this.getCellMeta(i, col).valid == false){
                                  invalidFeilds.forEach(function(value) {
                                        var prop = hotProduct.colToProp(col);
                                        if(value.row == i && value.col == prop){
                                            invalidFeilds.delete(value);
                                        }
                                  });                              
                              }
                          }
                      }

                      console.log("list deletedIds=" + deletedIds);
                  },
                  afterValidate: function (isValid, value, row, prop, source) {
                      if (!isValid) {
                              var cell = {"row": row, "col": prop};
                              invalidFeilds.add(cell);
                              console.log("cell: " + JSON.stringify(cell));
                      } else {
                        invalidFeilds.forEach(function(value) {
                              if(value.row == row && value.col == prop){
                                  invalidFeilds.delete(value);
                              }
                            });
                          console.log(invalidFeilds);
                      }
                  }
              });

        	loadVehicle();
            
        });
        	


//         	var menuItems = document.getElementsByClassName("htItemWrapper");
//         	menuItems[6].on('click', function(e) {

//         	    // prevent the default action at first, just to make it clear :)
//         	    e.preventDefault(); 

//         	    deleteVehicle();
//         	});
//         });


//         function deleteVehicle(){
//          }

        /**
         * @param vehicleId: -1 means loading all
         */
        function loadVehicle(vehicleId) {
            var url;
            var total = document.getElementById('total');

            
            if (vehicleId === undefined) {
                url = _ctx + 'vehicle/load-vehicle';
            } else {
                url = _ctx + 'vehicle/load-vehicle?id=' + vehicleId;
            }

            $.ajax({
                url : url,
                type : 'GET',
                dataType : 'json',
                contentType : 'application/json',
                success : function(res) {
                    total.innerHTML = res.length;
                    
                    // Update data into the handsontable
                    dataVehicles = res;
                    hotVehicle.loadData(dataVehicles);
                },
                error : function (e) {
                    console.log("Error: " + e);
                }
            });
        }
    </script>
    
    <script>
        $('#btnSave').click(function(e) {
            e.preventDefault();
            
        	$('#errorHandsontable').hide();
        	$('#errorEmpty').hide();
            
            // Get header name
            var colHeaderData =  hotVehicle.getColHeader();
            
            // Get data from Handsontable
            var tableData = hotVehicle.getData();

            var frmData = {};
            frmData["header"] = colHeaderData;
            frmData["data"] = tableData;
            frmData["deletedIds"] = deletedIds;
            var ok = true;

            // Check if have vehicle but didn't enter quantity.
            for(var row = 0; row < hotVehicle.countRows(); row++){
                if(!hotVehicle.isEmptyRow(row)){
                    for(var col = 0; col < hotVehicle.countCols(); col++){
                        if(col != 0){
                            if(hotVehicle.getDataAtCell(row, col) == null || hotVehicle.getDataAtCell(row, col) == ""){
                            	hotVehicle.getCellMeta(row, col).valid = false;
                                var cell = {"row": row, "col": hotVehicle.colToProp(col)};
                                invalidFeilds.add(cell);
    
                            } else {

                                    invalidFeilds.forEach(function(value) {
                                        var prop = hotVehicle.colToProp(col);
                                        if(value.row == row && value.col == prop){
                                            console.log(hotVehicle.colToProp(col));
                                            invalidFeilds.delete(value);
                                        }
                                    });                       
    
                            }
                        }
                    }
                } else {
                    for(var col2 = 0; col2 < hotVehicle.countCols(); col2++){
                        if(hotVehicle.getCellMeta(row, col2).valid == false){
                            invalidFeilds.forEach(function(value) {
                                var prop = hotVehicle.colToProp(col2);
                                
                                if(value.row == row && value.col == prop){
                                    invalidFeilds.delete(value);
                                }
                            });
                                                            
                            hotVehicle.getCellMeta(row, col2).valid = true;                     
                        }
                    }
                }
            }
            
            hotVehicle.render();

            // Check if handsontable have any invalid.
            if(invalidFeilds.size > 0) {
//                 $("#errorHandsontable").fadeToggle('slow'); $('#errorHandsontable').fadeOut(10000);
                $('#errorHandsontable').show();
                ok = false;
            } 

            // Check if handsontable have any data.
            if(hotVehicle.countEmptyRows() == hotVehicle.countRows()) { 
//                 $("#errorHandsontableEmpty").fadeToggle('slow'); $('#errorHandsontableEmpty').fadeOut(10000);
                $('#errorEmpty').show();
                ok = false;
            } 
            console.log(ok);
            if(ok){
                $.ajax({
                    url : _ctx + "/vehicle/save",
                    type : "POST",
                    contentType: "application/json",
                    data: JSON.stringify(frmData),
                    dataType: 'json',
    
                    success : function(result) {
                    	$('#errorHandsontable').hide();
                    	$('#errorEmpty').hide();
                    	$('#result').fadeToggle('slow'); $('#result').fadeOut(5000); 
                         
                        // reload data
                    	loadVehicle();
                    },
                    error : function() {
                        console.log("Error!");
                    }
                });
            }
        });
    </script>
</body>
</html>