<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/head"></th:block>
</head>
<body class="horizontal-layout horizontal-top-icon-menu 2-columns   menu-expanded" data-open="hover" data-menu="horizontal-menu" data-col="2-columns">
  <!-- fixed-top-->
    <th:block th:include="fragments/nav"></th:block>
  <!-- ////////////////////////////////////////////////////////////////////////////-->
  <!-- Horizontal navigation-->
    <th:block th:include="fragments/hnav"></th:block>
  <!-- Horizontal navigation-->

  <th:block th:include="fragments/vehicle/new"></th:block>
  
  <th:block th:include="fragments/footer"></th:block>

    <script>

    	
    	var deletedIds = [];
        var dataVehicles = [];
        
        var hotVehicle = null;

        $(function() {
        	var containerVehicle = document.getElementById('tableVehicle');

        	hotVehicle = new Handsontable(containerVehicle, {
                data: dataVehicles,
                colHeaders: ["ID", "Tên xe", "Dài (m)", "Rộng (m)", "Cao (m)", "Tải Trọng (tấn)"],
                colWidths: [50, 250, 100, 100, 100, 120],
                rowHeaders: true,
                minRows: 5,
                currentRowClassName: 'currentRow',
                currentColClassName: 'currentCol',
            	manualColumnResize: true,
                manualRowResize: true,
                contextMenu: ['remove_row'],
                columns: [
                	{data: 'id', readOnly: true},
                    {data: 'name'},
                    {data: 'length'},
                    {data: 'width'},
                    {data: 'height'},
                    {data: 'capacity'}
                  ],

               // Bắt và xử lý thao tác xoá dòng (bấm phải chuột, chọn Remove Row)
                  beforeRemoveRow: function (index, amount) {
                      console.log("Removed row index =" + index + ";amount=" + amount);


                      // Support to submit deleted id into server
                      console.log("index=" + index);
                      var lastIndex = index + amount;
                      var i;
                      for (i = index; i < lastIndex; i++) {
                          console.log("dataVehicles=" + JSON.stringify(dataVehicles));
                          var deletedVehicle = dataVehicles[i];
                          var deletedId = deletedVehicle.id;

                          console.log("Row = " + i + ";deletedId = " + deletedId);
                          if (deletedId) {
                        	  deletedIds.push(deletedId);
                          }
                      }

                      console.log("list deletedIds=" + deletedIds);
                  },
              });

        	loadVehicle();
            
        });
        	


//         	var menuItems = document.getElementsByClassName("htItemWrapper");
//         	menuItems[6].on('click', function(e) {

//         	    // prevent the default action at first, just to make it clear :)
//         	    e.preventDefault(); 

//         	    deleteVehicle();
//         	});
//         });


//         function deleteVehicle(){
//          }

        /**
         * @param vehicleId: -1 means loading all
         */
        function loadVehicle(vehicleId) {
            var url;
            var total = document.getElementById('total');

            
            if (vehicleId === undefined) {
                url = _ctx + 'vehicle/load-vehicle';
            } else {
                url = _ctx + 'vehicle/load-vehicle?id=' + vehicleId;
            }

            $.ajax({
                url : url,
                type : 'GET',
                dataType : 'json',
                contentType : 'application/json',
                success : function(res) {
                    total.innerHTML = res.length;
                    
                    // Update data into the handsontable
                    dataVehicles = res;
                    hotVehicle.loadData(dataVehicles);
                },
                error : function (e) {
                    console.log("Error: " + e);
                }
            });
        }
    </script>
    
    <script>
        $('#btnSave').click(function(e) {
            e.preventDefault();
    
            // Get header name
            var colHeaderData =  hotVehicle.getColHeader();
            
            // Get data from Handsontable
            var tableData = hotVehicle.getData();

            var frmData = {};
            frmData["header"] = colHeaderData;
            frmData["data"] = tableData;
            frmData["deletedIds"] = deletedIds;
            
            $.ajax({
                url : _ctx + "/vehicle/save",
                type : "POST",
                contentType: "application/json",
                data: JSON.stringify(frmData),
                dataType: 'json',

                success : function(result) {
                	 $('#result').fadeToggle('slow'); $('#result').fadeOut(5000); 
                     
                    // reload data
                	loadVehicle();
                },
                error : function() {
                    console.log("Error!");
                }
            });
        });
    </script>
</body>
</html>