<!DOCTYPE html>
<html lang="en""http://www.thymeleaf.org">
<!--[if IE 9]>         <html class="no-js lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
<th:block th:include="fragments/head"></th:block>
<title>Login</title>
<style type="text/css">
.jqstooltip {
	width: auto !important;
	height: auto !important;
	position: absolute;
	left: 0px;
	top: 0px;
	visibility: hidden;
	background: #000000;
	color: white;
	font-size: 11px;
	text-align: left;
	white-space: nowrap;
	padding: 5px;
	z-index: 10000;
}

.jqsfield {
	color: white;
	font: 10px arial, san serif;
	text-align: left;
}
</style>
</head>
<body>
    <!-- Background -->
    <img src="themes/pixelcave/img/placeholders/layout/login2_full_bg.jpg" alt="Full Background"
        class="full-bg animation-pulseSlow">
    <!-- END Background -->
    <!-- Login Container -->
    <div id="login-container">
        <!-- Register Header -->
        <h1 class="h2 text-light text-center push-top-bottom animation-slideDown">
            <i class="fa fa-plus"></i> <strong>Create Account</strong>
        </h1>
        <!-- END Register Header -->

        <!-- Register Form -->
        <div class="block animation-fadeInQuickInv">
            <!-- Register Title -->
            <div class="block-title">
                <div class="block-options pull-right">
                    <a href="/" class="btn btn-effect-ripple btn-primary" data-toggle="tooltip" data-placement="left"
                        title="" style="overflow: hidden; position: relative;" data-original-title="Back to login"><i
                        class="fa fa-user"></i></a>
                </div>
                <h2>Register</h2>
            </div>
            <!-- END Register Title -->

            <!-- Register Form -->
            <form id="form-register" action="/" method="post" class="form-horizontal" novalidate="novalidate">
                <div class="form-group">
                    <div class="col-xs-12">
                        <input type="text" id="register-username" name="register-username" class="form-control"
                            placeholder="Username">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input type="text" id="register-email" name="register-email" class="form-control"
                            placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input type="password" id="register-password" name="register-password" class="form-control"
                            placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input type="password" id="register-password-verify" name="register-password-verify"
                            class="form-control" placeholder="Verify Password">
                    </div>
                </div>
                <div class="form-group form-actions">
                    <div class="col-xs-6">
                        <label class="csscheckbox csscheckbox-primary" data-toggle="tooltip" title=""
                            data-original-title="Agree to the terms"> <input type="checkbox" id="register-terms"
                            name="register-terms"> <span></span>
                        </label> <a href="#modal-terms" data-toggle="modal">Terms</a>
                    </div>
                    <div class="col-xs-6 text-right">
                        <button type="submit" class="btn btn-effect-ripple btn-success"
                            style="overflow: hidden; position: relative;">
                            <i class="fa fa-plus"></i> Create Account
                        </button>
                    </div>
                </div>
            </form>
            <!-- END Register Form -->
        </div>
        <!-- END Register Block -->

        <!-- Footer -->
        <footer class="text-muted text-center animation-pullUp">
            <small><span id="year-copy">2014-18</span> © <a href="http://goo.gl/RcsdAh" target="_blank">AppUI
                    2.9</a></small>
        </footer>
        <!-- END Footer -->
    </div>
    <!-- END Login Container -->

    <!-- Modal Terms -->
    <div id="modal-terms" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title text-center">
                        <strong>Terms and Conditions</strong>
                    </h3>
                </div>
                <div class="modal-body">
                    <h4 class="page-header">
                        1. <strong>General</strong>
                    </h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultrices, justo vel
                        imperdiet gravida, urna ligula hendrerit nibh, ac cursus nibh sapien in purus. Mauris tincidunt
                        tincidunt turpis in porta. Integer fermentum tincidunt auctor.</p>
                    <h4 class="page-header">
                        2. <strong>Account</strong>
                    </h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultrices, justo vel
                        imperdiet gravida, urna ligula hendrerit nibh, ac cursus nibh sapien in purus. Mauris tincidunt
                        tincidunt turpis in porta. Integer fermentum tincidunt auctor.</p>
                    <h4 class="page-header">
                        3. <strong>Service</strong>
                    </h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultrices, justo vel
                        imperdiet gravida, urna ligula hendrerit nibh, ac cursus nibh sapien in purus. Mauris tincidunt
                        tincidunt turpis in porta. Integer fermentum tincidunt auctor.</p>
                    <h4 class="page-header">
                        4. <strong>Payments</strong>
                    </h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultrices, justo vel
                        imperdiet gravida, urna ligula hendrerit nibh, ac cursus nibh sapien in purus. Mauris tincidunt
                        tincidunt turpis in porta. Integer fermentum tincidunt auctor.</p>
                </div>
                <div class="modal-footer">
                    <div class="text-center">
                        <button type="button" class="btn btn-effect-ripple btn-sm btn-primary" data-dismiss="modal"
                            style="overflow: hidden; position: relative;">I've read them!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END Modal Terms -->

    <!-- jQuery, Bootstrap, jQuery plugins and Custom JS code -->
    <script src="js/vendor/jquery-2.2.4.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/app.js"></script>

    <!-- Load and execute javascript code used only in this page -->
    <script src="js/pages/readyRegister.js"></script>
    <script>
					$(function() {
						ReadyRegister.init();
					});
				</script>

</body>
</html>