<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="fragments/head"></th:block>

</head>
<body>
    <!-- fixed-top-->
    <th:block th:include="fragments/nav"></th:block>
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <!-- Horizontal navigation-->
    <th:block th:include="fragments/hnav"></th:block>
    <!-- Horizontal navigation-->

    <!-- form body -->
    <th:block th:include="fragments/order/new"></th:block>

    <!-- Dialog to select Customer -->
    <th:block th:include="fragments/customer/select"></th:block>
    
    <!-- Dialog to select Product -->
    <th:block th:include="fragments/product/select"></th:block>

    <!-- Google Map Modal -->
    <th:block th:include="fragments/order/map"></th:block>
    <script type="text/javascript" src="/js/searchDatatable.js"></script>

    <!-- footer -->
    <th:block th:include="fragments/footer"></th:block>
    <script>
        var dataProducts = ["", "" , "", "", "", "", ""];
        var hotProduct = null;

        $(function() {
        	var containerProduct = document.getElementById('tableProduct');
            var orderCode = $('#orderCd').val();         

        	hotProduct = new Handsontable(containerProduct, {
                data: dataProducts,
                colHeaders: ["ID", "Tên mặt hàng", "Dài(m)", "Rộng(m)", "Cao(m)", "Trọng lượng (kg)", "Số lượng"],
                colWidths: [50, 300, 100, 100, 100, 120, 100],
                rowHeaders: true,
//              minCols : 6,
                minRows: 12,
             // currentRowClassName: 'currentRow',
             // currentColClassName: 'currentCol',
         	    manualColumnResize: true,
                manualRowResize: true,
                contextMenu: true,
                columns: [
                     { "data": "id", readOnly: true },
                     { "data": "name", readOnly: true },
                     { "data": "height", readOnly: true },
                     { "data": "width", readOnly: true },
                     { "data": "length", readOnly: true },
                     { "data": "weight", readOnly: true },     
                     { "data": "quantity" }
               ],
                hiddenColumns: {
                     columns: 7,
                     indicators: true
                },
                afterSelection: function(r,c){
                    if(c==1){
                        displayDlgSelectProduct();
                    }
                }
           });
            if(orderCode != null){   
                loadOrderProduct(orderCode);
                
                $.ajax({
                    url : _ctx + "customer/load-customerBy?orderCd=" + orderCode,

                    success : function(result) {
                        console.log("Load customer result =" + JSON.stringify(result));
                        
                        // fresh address
                        refreshCustomer(result);
                    },
                    error : function() {
                        console.log("Error!");
                    }
                });
            }
     });

        // Load lại danh sách sản phẩm của đơn hàng
        function loadOrderProduct(orderCd) {
            url = _ctx + 'order/load-orderProduct?orderCd=' + orderCd;
                
            $.ajax({
                url : url,
                type : 'GET',
                dataType : 'json',
                contentType : 'application/json',
                success : function(res) {
                    // Update data into the handsontable
                    dataProduct = res;
                    console.log(JSON.stringify(res));
                    hotProduct.loadData(dataProduct);
                },
                error : function (e) {
                    console.log("Error: " + e);
                }
            });
        }
    </script>

    <!-- Save the order -->
    <script>
        $('#frmOrder').submit(function(e) {
            e.preventDefault();
    
            var frm = $('#frmOrder');
            var orderCd = $('#orderCd').val();
            var address = $('#customer_addr').val();
            var latitude = $('#latitude').val();
            var longitude = $('#longitude').val();
            var customer_id = $('#customer_id').val();
    
            // Get header name
            var colHeaderData =  hotProduct.getColHeader();
            
            // Get data from Handsontable
            var tableData = hotProduct.getData();

            var frmData = {};
            frmData["productHeader"] = colHeaderData;
            frmData["productData"] = tableData;
            frmData["orderCd"] = orderCd;
            frmData["address"] = address;
            frmData["latitude"] = latitude;
            frmData["longitude"] = longitude;
            frmData["customer_id"] = customer_id;
            console.log(frmData);

            $.ajax({
                url : _ctx + "/order/save",
                type : "POST",
                contentType: "application/json",
                data: JSON.stringify(frmData),
                dataType: 'json',

                success : function(result) {
                	$('#result').fadeToggle('slow'); $('#result').fadeOut(5000);
                     
                    // reload data
                    alert("success");
                },
                error : function() {
                    console.log("Error!");
                }
            });
        });
    </script>
    <!--  Scripts for select customer -->
    <script>
        // Dispay dialog of addresses
        var selectCustomerTable = null;
    
        $('#btnSelectCustomer').click(function(e) {
            // Load dữ liệu khách hàng
        	if (selectCustomerTable == null) {
        		selectCustomerTable = $("#selectCustomerTable").DataTable({
                    ajax: {'url': _ctx + 'customer/load-customer', 'dataSrc': ''},
                    "columns": [
                           {"render": function ( data, type, full, meta ) {
                                // return '<input type="radio" name="addressRow" value="' + full.displayAddress + '">';
                               // Assign address id and displayAddress
                        	   return '<input type="radio" name="addressRow" value="' + full.id + '">';
                           }},  // here's a radio button, modify to use data to populate it
                    	   { "data": "id" },
                    	   { "data": "name" },
                    	   { "data": "addr" }
                    ]
                });
        	} else {
        		// selectAddressTable.fnDraw();
            }

            // Hiển thị hộp thoại
        	$("#dlgSearchCustomer").modal('show');
        });

        $('#btnSelectedCustomer').click(function(e) {

            var selectedCustomerId = $('input[name=addressRow]:checked').val();

            // Get Fulll addres from Id
            $.ajax({
                url : _ctx + "customer/load-customer/" + selectedCustomerId,

                success : function(result) {
                    console.log("Load customer result =" + JSON.stringify(result));
                    
                    // fresh address
                    refreshCustomer(result);
                },
                error : function() {
                    console.log("Error!");
                }
            });
        });

        /**
         * @param addrId
         * @param fullAddr
         * @global selectCustomerRow
         */
        function refreshCustomer(customer) {
            // Set address into Address of the Customer
            $('#customer_id').val(customer.id);
            $('#customer_name').val(customer.name);
            $('#customer_phone').val(customer.phone);
            $('#customer_addr').val(customer.addr);

        }
    </script>


    <script async defer th:src="@{https://maps.googleapis.com/maps/api/js?key=} + ${map_key}">
    </script>

    <script> 
        $('#btnShowMap').click(function(e) {
            initMap();
        });
        function initMap(){
            var geocoder = new google.maps.Geocoder();
            var address =  $('#customer_addr').val();
        
            geocoder.geocode({'address': address}, function(results, status) {
                  if (status === 'OK') {
                     console.log(results);
//     	             var map = new google.maps.Map($('#map_canvas'), {
//                    zoom: 15,
//                    center: results[0].geometry.location
//                 });
                     var myOptions = {
    	                       zoom: 15,
                               center: results[0].geometry.location,
                               mapTypeId: google.maps.MapTypeId.ROADMAP
                         };
                 
                     var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
                     var marker = new google.maps.Marker({
                               map: map,
                               position: results[0].geometry.location
                         });
                     $('#latitude').val(results[0].geometry.location.lat);
                     $('#longitude').val(results[0].geometry.location.lng);
                     $("#googleMapModal").modal('show');
                  } else {
                      alert('Geocode was not successful for the following reason: ' + status);
                  }
 	        });
        }
  </script>
  
  <script>
        function displayDlgSelectProduct() {
            $("#dlgSearchProduct").modal('show');
        }    
  </script>
  
  <script>
        // Dispay dialog of addresses
        var selectProductTable = null;
    
        $(document).ready(function() {
            // Load dữ liệu khách hàng
            if (selectProductTable == null) {
                selectProductTable = $("#selectProductTable").DataTable({
                    ajax: {'url': _ctx + 'product/load-product', 'dataSrc': ''},
                    "columns": [
                           {"render": function ( data, type, full, meta ) {

                               return '<input type="checkbox" name="productRow" value="' + full.id + '">';
                           }},  // here's a radio button, modify to use data to populate it
                    	   { "data": "id" },
                    	   { "data": "name" },
                    	   { "data": "description" },
                    	   { "data": "height" },
                    	   { "data": "width" },
                    	   { "data": "length" },
                    	   { "data": "weight" }     
                    ]
                });
            } else {
                // selectAddressTable.fnDraw();
            }

        });

        $('#btnSelectedProduct').click(function(e) {
        
            var selectedProducts = [];
            $("input:checkbox[name=productRow]:checked").each(function(){
            	selectedProducts.push($(this).val());
            });

            // Get Fulll addres from Id
            $.ajax({
                url : _ctx + "product/load-product",
                type : "GET",
                contentType: "application/json",
                dataType: 'json',
                
                success : function(result) {
                    dataProducts = [];
                    for (var i = 0; i < result.length; i++) {
                        var res = result[i];

                        for(var j = 0; j < selectedProducts.length; j++){   
                            var checkedId = selectedProducts[j];
                            
                            if(res.id == checkedId){
                            	dataProducts.push(res);
                            }
                        }
                    }
                    hotProduct.loadData(dataProducts);
                },
                error : function() {
                    console.log("Error!");
                }
            });
        });
    </script>
</body>
</html>