<!-- Update -->
<!DOCTYPE html>
<html lang="en""http://www.thymeleaf.org">
<!--[if IE 9]>         <html class="no-js lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
<div th:replace="fragments/head :: header-css-js"/>
<th:block th:include="fragments/javascript"></th:block>
<title>Goodway - Giao hàng kịp thời</title>
</head>
<body>
    <!-- Page Wrapper -->
    <div id="page-wrapper" class="page-loading">
        <!-- Preloader -->
        <!-- Preloader functionality (initialized in themes/pixelcave/js/app.js) - pageLoading() -->
        <div class="preloader">
            <div class="inner">
                <!-- Animation spinner for all modern browsers -->
                <div class="preloader-spinner themed-background hidden-lt-ie10"></div>

                <!-- Text for IE9 -->
                <h3 class="text-primary visible-lt-ie10">
                    <strong>Loading..</strong>
                </h3>
            </div>
        </div>
        <!-- END Preloader -->

        <!-- Page Container -->
        <div id="page-container" class="header-fixed-top sidebar-visible-lg-full">
            <!-- Alternative Sidebar -->
            <th:block th:include="fragments/sidebar-alt"></th:block>
            <!-- END Alternative Sidebar -->

            <!--  Slide bar -->
            <th:block th:include="fragments/slidebar"></th:block>
            <!-- End Slide bar -->

            <!-- Main Container -->
            <div id="main-container">
               
                <th:block th:include="fragments/header"></th:block>
                <!-- End header -->
                
                
                
                <!-- Page Content -->
                <th:block th:include="fragments/order/new"></th:block>
                <!-- End Page Content -->
            </div>
            <!-- END Main Container -->
        </div>
        <!-- END Page Container -->
    </div>
    <!-- END Page Wrapper -->

    
</body>
</html>