<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/head"></th:block>
</head>
<body class="horizontal-layout horizontal-top-icon-menu 2-columns   menu-expanded" data-open="hover" data-menu="horizontal-menu" data-col="2-columns">
  <!-- fixed-top-->
    <th:block th:include="fragments/nav"></th:block>
  <!-- ////////////////////////////////////////////////////////////////////////////-->
  <!-- Horizontal navigation-->
    <th:block th:include="fragments/hnav"></th:block>
  <!-- Horizontal navigation-->

  <th:block th:include="fragments/order/search"></th:block>
  
  <th:block th:include="fragments/footer"></th:block>
  <script>
	$(document).ready(function(){
		$('input[type=search]').on('keyup'), function(){
			var value = $(this).val().toLowerCase();
			$('#resultTable tbody tr').filter(function() {
				$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
			});
		};
	});
	</script>
  <script>
    // Lưu đối tượng table kết quả search
    var resultTable = null;
    var vehicleData;

    
    if (resultTable == null) {
         $("#resultTable").DataTable({
            ajax: {'url': _ctx + 'plan/load-orderCustomer', 'dataSrc': ''},
            "columns": [
            	   { "data": 0 },
              	   { "data": 1,
	              	   "render" : function(data, row, meta){
								data = '<a href="' + _ctx + 'order/edit/'+ data + '">' + data +'</a>';
		              	   return data;
			            }
              	    },
               	   { "data": 2 },
               	   { "data": 3 },
               	   { "data": 4 },
               	   { "data": 5 }
               
                   ],
                    "columnDefs":[
						{
							"targets": [0],
							"visible": false,
							"searchable": false
							}
                        ],
                        "initComplete": function(settings, json){ 
                            var info = this.api().page.info();
                            total.innerHTML = info.recordsTotal;
                        }
           });
   	} else {
   		resultTable.fnDraw();
    }
//         function getCustomerData(handleData) {
// 	        $.ajax({
// 	            url : _ctx + "customer/load-customer",
// 	            type : "GET",
// 	            contentType: "application/json",
// 	            dataType: 'json',

// 	            success : function(result) {
// 	            	handleData(result);
// 	            },
// 	            error : function() {
// 	                console.log("Error!");
// 	            }
// 	        });
//         }

//     	if (resultTable == null) {
//     		getCustomerData(function(output){
//     			   var table = $("#resultTable").DataTable();
//                    for(var i = 0; i < output.length; i++){
//                    var customer = output[i];
//                    for(var j = 0; j < customer.orderMasterList.length; j++){
//                 	      var order = customer.orderMasterList[j];

//                           table.row.add(['<a href="order/edit?orderCd='+order.name + '">' +order.name +'</a>', customer.name, customer.phone, customer.addr, order.deliveryDate, null, null]).draw();
//                      }
//                   }
//               }); 
//         } else {
//                 resultTable.fnDraw();
//         }
//      });     
    		
// 	            $("#resultTable").DataTable({
// 	                ajax: {'url': _ctx + 'order/load-order', 'dataSrc': ''},
// 	                "columns": [
// 	                	{"render": function ( data, type, full, meta ) {
//                             // return '<input type="radio" name="addressRow" value="' + full.displayAddress + '">';
//                            // Assign address id and displayAddress
//                     	   return '<a href="order/new">'+full.id+'</a>';
//                        }}, 
// 	                       { 
// 	                           "data": null, 
// 	                           render: function ( data, type, full, meta ) {
// 	                                       var name;
//                                            for(var i = 0; i < output.length; i++){
//                                                var op = output[i];
//                                                for(var j = 0; j < op.orderMasterList.length; j++){
//                                                         var order = op.orderMasterList[j];

//                                                         if(order.id == full.id){ name = op.name; }
//                                                }
//                                            }
// 	                                       return name;
// 	                                   }
// 	                       },
// 	                       { 
// 	                           "data": null, 
// 	                           render: function ( data, type, full, meta ) {
// 	                                       var phone;
//                                            for(var i = 0; i < output.length; i++){
//                                                var op = output[i];
//                                                for(var j = 0; j < op.orderMasterList.length; j++){
//                                                         var order = op.orderMasterList[j];

//                                                         if(order.id == full.id){ phone = op.phone; }
//                                                }
//                                            }
// 	                                       return phone;
// 	                                   }
// 	                       },
// 	                       { 
// 	                           "data": null, 
// 	                           render: function ( data, type, full, meta ) {
// 	                                       var address;
//                                            for(var i = 0; i < output.length; i++){
//                                                var op = output[i];
//                                                for(var j = 0; j < op.orderMasterList.length; j++){
//                                                         var order = op.orderMasterList[j];

//                                                         if(order.id == full.id){ address = op.addr; }
//                                                }
//                                            }
// 	                                       return address;
// 	                                   }
// 	                       },
// 	                	   { "data": "deliveryDate" }
// 	                       ]
// 	            });
  
    	 

</script>
</body>
</html>