<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/head"></th:block>
</head>
<body class="horizontal-layout horizontal-top-icon-menu 2-columns   menu-expanded" data-open="hover" data-menu="horizontal-menu" data-col="2-columns">
  <!-- fixed-top-->
    <th:block th:include="fragments/nav"></th:block>
  <!-- ////////////////////////////////////////////////////////////////////////////-->
  <!-- Horizontal navigation-->
    <th:block th:include="fragments/hnav"></th:block>
  <!-- Horizontal navigation-->

  <th:block th:include="fragments/question/new"></th:block>
  
  <th:block th:include="fragments/footer"></th:block>
   <script>
        var dataQuestions = ["", "", "" , "", "", "", "", "", ""];
        var hotQuestion = null;

        $(function() {
        	var containerQuestion = document.getElementById('tableQuestion');

        	hotQuestion = new Handsontable(containerQuestion, {
                data: dataQuestions,
                colHeaders: ["Id", "Chức năng", "Câu hỏi", "Người hỏi", "Ngày hỏi", "Câu trả lời", "Người trả lời", "Ngày trả lời", "Trạng thái"],
                colWidths: [50, 150, 250, 170, 150, 250, 170, 150, 100],
                rowHeaders: true,
                minRows: 10,
                currentRowClassName: 'currentRow',
                currentColClassName: 'currentCol',
            	manualColumnResize: true,
                manualRowResize: true,
                contextMenu: true,
                columns: [
                	{data: 'id', readOnly: true},
                	{data: 'category'},
                    {data: 'question'},
                    {data: 'askPerson'},
                    {data: 'askDate', readOnly: true},
                    {data: 'answer'},
                    {data: 'answerPerson'},
                    {data: 'answerDate', readOnly: true},
                    {data: 'status', readOnly: true}
                  ]
              });
        	loadQuestions();
        });

        function loadQuestions() {
            var total = document.getElementById('total');

            $.ajax({
                url : url = _ctx + 'question/load-question',
                type : 'GET',
                dataType : 'json',
                contentType : 'application/json',
                success : function(res) {
                    total.innerHTML = res.length;
                                       
                    // Update data into the handsontable
                    dataQuestions = res;
                    hotQuestion.loadData(dataQuestions);
                },
                error : function (e) {
                    console.log("Error: " + e);
                }
            });
        }
    </script>
    
    <script>
        $('#frmHot').submit(function(e) {
            e.preventDefault();
    
            var frm = $('#frmHot');
            var selectPoolId = $('#poolId').val();
            var frmData = new FormData(this);
    
            // Get header name
            var colHeaderData =  hotQuestion.getColHeader();
            
            // Get data from Handsontable
            var tableData = hotQuestion.getData();

            var frmData = {};
            frmData["header"] = colHeaderData;
            frmData["data"] = tableData;

            $.ajax({
                url : _ctx + "question/save",
                type : "POST",
                contentType: "application/json",
                data: JSON.stringify(frmData),
                dataType: 'json',

                success : function(result) {
                     $('#result').fadeToggle('slow'); $('#result').fadeOut(5000); 
                     
                    // reload data
                    loadQuestions();
                },
                error : function() {
                    console.log("Error!");
                }
            });

           
                
        });



        

      
        
    </script>
	<script>
	 
	</script>		    
</body>
</html>